@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: hsl(30, 54%, 90%);
    margin: 70px 280px;
    padding: 10px;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

.container {
    background-color: white;
    border: 1px, solid, hsl(30, 18%, 87%);
    border-radius: 25px;
    padding: 50px;
}

img {
    width: 100%;
    border-radius: 13px;
}

h1 {
    font-family: "young Serif", serif;
    margin: 25px 0;
    font-weight: 400;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    margin: 30px 0px;
    padding: 20px 40px;
    border-radius: 20px;
}

.preparation h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 10px;

}

.preparation-list li {
    margin-left: 20px;
    padding: 5px;
    padding-left: 15px;
}

.preparation-list li::marker {
    color: hsl(332, 51%, 32%);
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "young Serif", serif;
    margin: 20px 0px;
    font-weight: 400;
}

.ingredients-list {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    margin-bottom: 10px;
}

.ingredients-list li {
    margin-left: 25px;
    padding: 10px;
    padding-left: 15px;
}

.ingredients-list :last-child {
    padding-bottom: 35px;
}

.ingredients-list li::marker {
    color: hsl(14, 45%, 36%);
}

ol li {
    margin-left: 25px;
    padding: 7px;
    padding-left: 15px;
    text-align: justify;
    line-height: 25px;
}

ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

ol {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

ol :last-child {
    padding-bottom: 35px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    margin: 0;
}

tr:last-child {
    border: none;
}

td:last-child {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

td:first-child {
    padding-left: 25px;
}

td {
    padding: 13px;
}

.attribution {
    margin-top: 10px;
}